.row
  .span12
    .alert.alert-info
      %h1.alert-heading
        Welcome to Diablo Numbers!
      %p{:style => "margin-top: 6px"}
        Like many of the people fighting their way through Diablo 3, I try to figure out how I should gear and what the stats mean. There are many smart blog posts, form posts, and videoes online. Here is my attempt to consolidate the best info into a fast easy to digest format. A lot of this stuff currently is just copy and paste. 

      %p
        Please check out the 
        = link_to "references", references_path
        to see where I am getting the information.

.row
  .span12    
    = render :partial => "topics/topics"

.row
  .span3 
    %h3 Vitality

    %table.table.table-striped.table-condensed
      %tbody
        %tr
          %td
            < Level 35            
          %td.output_cell
            36 + 4 x 
            %span.label level
            + 10 x
            %span.label.label-success vitality
        %tr
          %td >=Level 35            
          %td.output_cell
            (
            %span.label level
            = "- 25"
            )
            x
            %span.label.label-success vitality            

  .span3
    %h3 Armor

    %table.table.table-striped.table-condensed
      %tbody
        %tr
          %td
            1 
            %span.label.label-important strength
          %td.output_cell
            %i.icon-arrow-up
            1          
            %span.label.label-inverse armor  
        %tr
          %td
            1 
            %span.label all resist
          %td.output_cell
            %i.icon-arrow-up
            10          
            %span.label.label-inverse armor       


  .span3
    %h3 Resists

    %table.table.table-striped.table-condensed
      %tbody
        %tr
          %td
            1 
            %span.label.label-info intelligence
          %td.output_cell
            %i.icon-arrow-up
            = ".1"
            %span.label all resist                         
  .clearfix

%hr

= render "experience"

%hr

= render "group_mechanics"