.row
  .span12
    .alert.alert-info
      %h1.alert-heading
        Welcome to Diablo Numbers!
      %p{:style => "margin-top: 6px"}
        Like many of the people fighting their way through Diablo 3, I try to figure out how I should gear and what the stats mean. There are many smart blog posts, forum posts, and videos online. Here is my attempt to consolidate the best info into a fast, easy-to-digest format. A lot of this stuff currently is just copy and paste. 

      %p
        Please check out the 
        = link_to "references", references_path
        to see where I am getting the information.

.row
  .span6
    = render :partial => "classes/classes"
    
  .span6    
    = render :partial => "topics/topics"

.row
  = render "vitality"

.row
  = render "resists"
  = render "dr_from_resists"  
  
.row
  = render "armor"
  = render "dr_from_armor"

%hr
.row
  = render "experience"
  = render "inferno_monster_level"

%hr

= render "group_mechanics"